@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #080808;

}

#header{
    width: 100%;
    height: 100vh;
    background-size:cover ;
    background-position: cover;
    /* border: 1px solid white; */
}

.container{
    padding: 10px 10%;
   /* border: 1px solid black; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 70px;
}

#im{
    height: 100px;
    width: 100px;
}

nav ul li{
    display: inline-block ;
    list-style: none;
    margin: 10px 20px ;
    position: relative;
}



nav ul li a{
    text-decoration: none;
    font-size: none;
    color: #fff;
   
}

nav ul li a::after{
    content: '' ;
    width:0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px ;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header_text{
    margin-top: 20%;
    font-size: 30px;
}

.header_text h1{
    font-size: 60px;
    margin-top: 20px;
}

#navbar{
    height: 100px;
    width: 100%;
    /* border: 1px solid white;  */
    background-color: rgb(39, 39, 70);

}






/* about */

#about{
    padding: 80px 0px ;
    color: #ababab ;
}

#row{
    display: grid;
    justify-content:space-between ;
    grid-template-columns: repeat(auto-fit,1fr);
    /* border: 1px solid blue; */
}

#proPhoto{
    height: 500px;
    width: 400px;
    border-radius: 14px;
}

#about_col1{
    flex-basis: 40%;
    /* border: 1px solid orange; */
}


#about_col2 img{
    width: 100%;
    border-radius: 15%;
   
}

#about_col2{
    flex-basis: 60%;
    /* border: 1px solid red; */
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tabTitle{
    display: flex;
    margin: 20px 0px 40px;
}

.tablink{
    margin-right: 50px ;
    font-size: 18px;
    font-weight:500px ;
    cursor: pointer;
    position: relative;
}

.tablink::after{
    content: '';
    width: 0px;
    height:3px ;
    background: #ff004f;
    position: absolute;
    left:0 ;
    bottom: -8px;
    transition: 0.5s;
}

.tablink.activelink::after{
    width: 50%;
}

.tabContent ul li{
    list-style: none;
    margin: 10px 0;
}

.tabContent ul li span{
    color: #b54769;
    font-size: 14px;
}

.tabContent{
    display: none;
}

.tabContent.active_tab{
    display: block;
}




#skill {
    /* border: 1px solid white; */
    display: flex;
    height: 100px;
    margin-top: 100px;
    justify-content: space-between;
}

#skill > img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

#Project{
    padding: 80px 0px ;
    color: #ababab ;
}

.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
    grid-gap:40px ;
    margin-top: 50px ;
}

.work{
    border-radius:10px ;
    position: relative;
    overflow:hidden ;
}

.work img{
    width: 100%;
    border-radius:10px ;
    display: block;
}


#navbar.sticky{
    position: fixed;
    top: 0;
    left: 0;
}

nav .fa-solid{
    display: none;
}





@media only screen and (max-width:450px){

    #about_col1{
        width: auto;
        border: 1px solid black; 
    }

    #proPhoto{
        height: 550px;
        width: 100%;
        border-radius: 14px;
    }

    
    #row{
        display: grid;
        grid-template-rows: repeat(auto-fit,1fr);
    }

}








@media only screen and (max-width:1000px){

    #menu{
        display: block;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 70px;
    }
   

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background-color: rgb(39, 39, 70);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
     
    }

    #navbar{
        height: 0;
        width: 0%;
        /* border: 1px solid white;  */
        background-color: none
    }

    nav ul li{
        display: block;
        margin: 25px;
        
    }

    nav ul .fa-solid{
        position: absolute;
        top: 0%;
        left: 25px;
        cursor: pointer;
    }

    #row{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        justify-content: space-between;
     
   }


 /* 1000 khali */
}



/* 1000 varti */
@media  (min-width:1000px){

    nav ul{
        margin-left: 140px;
    }


   #row{
        display: flex;
        justify-content: space-between;
        

   }


}


































/* 
@media  (min-width:480px) and (max-width:650px){
   
    #navbar{
        height: 170px;
        width: 100%;
        border: 1px solid red;
    }


    nav ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

}

@media (min-width:200px) and  (max-width:480px){

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    #navbar{
        height: 250px;
        width: 100%;
    }

    nav{
        grid-template-columns: repeat(auto,1fr);
        display: flex;
        flex-direction: column;
    }

    nav ul li{
        display: flex;
        flex-direction: column;
    }
} */


